.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
font-family: 'Cedarville Cursive', cursive;
  font-size: 1rem;
  padding: 8px 0;
  line-height: 1.5;
}

.back-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #4D4D4D;
  transition: width 0.3s ease;
}

.back-link:hover::after,
.back-link:focus::after {
  width: 100%;
}

.back-link:hover,
.back-link:focus {
  color: #4D4D4D;
  outline: none;
}

.back-link:focus-visible {
  outline: 2px dashed #4D4D4D
  outline-offset: 3px;
}
